{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 8"]
        },
        "useBuiltIns": true,
        "debug": false
      }
    ],
    "react"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    }
  },
  "plugins": [
    "add-module-exports",
    "transform-class-properties",
    "syntax-async-generators"
  ]
}
